In [15]:
import pandas as pd

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [24]:
df = pd.read_csv('green_tripdata_2019-10.csv')

/var/folders/pv/tnd7k5wd225dv239wvj68j2m0000gn/T/ipykernel_86923/2156106363.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [25]:
head -100 df

SyntaxError: invalid syntax (3295108637.py, line 1)

In [26]:
print(df.head(100))

    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0        2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
1        1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
2        1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
3        1.0  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
4        2.0  2019-10-01 00:08:13   2019-10-01 00:17:56                  N
..       ...                  ...                   ...                ...
95       2.0  2019-10-01 00:02:53   2019-10-01 00:14:32                  N
96       2.0  2019-10-01 00:18:45   2019-10-01 00:29:23                  N
97       2.0  2019-10-01 00:41:32   2019-10-01 00:52:51                  N
98       2.0  2019-10-01 00:36:54   2019-10-01 00:54:20                  N
99       2.0  2019-10-01 00:21:27   2019-10-01 00:26:59                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0          1.0           112           196              1.0           5.88
1          1.0            43           263              1.0           0.80
2          1.0           255           228              2.0           7.50
3          1.0           181           181              1.0           0.90
4          1.0            97           188              1.0           2.52
..         ...           ...           ...              ...            ...
95         1.0           126            74              1.0           3.10
96         1.0            42            74              1.0           1.64
97         1.0            75            42              1.0           3.17
98         1.0            92           179              1.0           5.48
99         1.0           129           129              1.0           1.02

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          18.0   0.50      0.5        0.00           0.0        NaN
1           5.0   3.25      0.5        0.00           0.0        NaN
2          21.5   0.50      0.5        0.00           0.0        NaN
3           5.5   0.50      0.5        0.00           0.0        NaN
4          10.0   0.50      0.5        2.26           0.0        NaN
..          ...    ...      ...         ...           ...        ...
95         12.0   0.50      0.5        0.00           0.0        NaN
96          9.5   0.50      0.5        0.00           0.0        NaN
97         11.5   0.50      0.5        1.50           0.0        NaN
98         19.5   0.50      0.5        0.00           0.0        NaN
99          6.0   0.50      0.5        0.00           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
0                     0.3         19.30           2.0        1.0
1                     0.3          9.05           2.0        1.0
2                     0.3         22.80           2.0        1.0
3                     0.3          6.80           2.0        1.0
4                     0.3         13.56           1.0        1.0
..                    ...           ...           ...        ...
95                    0.3         13.30           1.0        1.0
96                    0.3         10.80           2.0        1.0
97                    0.3         14.30           1.0        1.0
98                    0.3         20.80           2.0        1.0
99                    0.3          7.30           2.0        1.0

    congestion_surcharge
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
..                   ...
95                   0.0
96                   0.0
97                   0.0
98                   0.0
99                   0.0

[100 rows x 20 columns]

In [19]:
df = next(df_iter)

In [20]:
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [21]:
%time df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

CPU times: user 5.13 s, sys: 226 ms, total: 5.35 s
Wall time: 9.69 s

1000

In [22]:
from time import time

In [23]:
while True:
    
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'